@import "tailwindcss";

:root {
    --color-darkblue: #113F67;
    --color-mdblue: #38598B;
    --color-ltpurple: #A2A8D3;
}

header{
    background-color: bisque;
}

.search-area{
    background-color: aqua;
}




