@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Tangerine:wght@400;700&display=swap");

.meal-card-wrapper {
  perspective: 1000px;
}

.meal-card {
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.meal-card.flipped {
  transform: rotateY(180deg);
}

.meal-card-wrapper:hover .meal-card {
  transform: rotateY(0deg);
}

.meal-front,
.meal-back {
  backface-visibility: hidden;
}

.meal-back {
  transform: rotateY(180deg);
}

img {
  width: 250px;
  object-fit: cover;
}

ul {
  list-style: dot;
  padding-left: 20px;
}
